{% extends 'base.html' %} {% block head %}
<title>Sign up page</title>
<style>
    h1 {
        text-align: center;
        font-size: 30px;
        color: lightgreen;
    }
    
    p {
        font-size: 25px;
        color: lightsalmon;
    }
    
    body,
    html {
        height: 100%;
        margin: 0;
    }
    
    .bg {
        /* The image used */
        background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/PPrUZre/golden-motion-background-with-light-effect_hqrfuyrgx_thumbnail-full01.png");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: lightseagreen;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover:not(.active) {
        background-color: #111;
    }
    
    .right {
        float: right;
    }
</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %} {% block body %}

<div class="bg">
    <ul>
        <li class="right"><a href="http://127.0.0.1:8000/victim_home/">Back</a></li>
    </ul>

    <h1>Select from below option with which you want to share your case details.<br><br><br><br>
        <a href="list_lawyer/" class="btn btn-primary btn-lg btn-space" role="button" style="text-align: center">Go with Lawyer</a>
        <a href="list_police/" class="btn btn-primary btn-lg btn-space" role="button" style="text-align: center">Go With Police</a>
        <!-- <button type="button" class="btn btn-success btn btn-default btn-lg" style="padding-left:20px;padding-right:20px;size:100px">You want to share it with Lawyer</button>
            <button type=" button " class="btn btn-success btn btn-default btn-lg" style="padding-left:20px;padding-right:20px">You want to share it with Police</button> -->{% endblock %}
    </h1>
</div>