{% extends 'base.html' %} {% block head %}
<title>Profile</title>
<style>
    h1 {
        color: yellowgreen;
        text-align: center;
        font-size: 60px;
    }
</style>

{% endblock %} {% block body %}
<h1>Change Password</h1>

<div class="container">
    <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <br>
</div>


{% endblock %}