<!DOCTYPE html>

<html>

<head>

    <title>ONLINE JUDICIARY SYSTEM</title>

    <!-- to include bootstrap CDN  -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- this is for applying style.css file to page1.html -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts3/style.css' %}" type="text/css">

</head>

<body>
    <div class="bg">

        <h1><i>ONLINE JUDICIARY SYSTEM</i></h1>

        <h3><i>Welcome! You can login here!</i></h3>


        <!-- bootstrap buttons-1]btn-primary btn-lg class to print large button 2]btn-space class to have some space between three buttons -->
        <a href="http://127.0.0.1:8000/choice_home" class="btn btn-primary btn-lg btn-space" role="button" style="text-align: center">User Login</a>
        <!-- <a href="http://127.0.0.1:8000/login" class="btn btn-primary btn-lg btn btn-space" role="button">Lawyer login</a>
        <a href="http://127.0.0.1:8000/login" class="btn btn-primary btn-lg btn btn-space" role="button">Police login</a> -->

    </div>


</html>