{% extends 'base.html' %} {% block head %}
<title>Lawyer Home Page</title>
<style>
    body,
    html {
        height: 100%;
        margin: 0;
    }
    
    .bg {
        /* The image used */
        background-image: url("http://backgroundcheckall.com/wp-content/uploads/2017/12/light-colour-background-hd-4.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    h1 {
        text-align: center;
        color: black;
        font-size: 50px;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: lightseagreen;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover:not(.active) {
        background-color: #111;
    }
    
    .right {
        float: right;
    }
</style>

{% endblock %} {% block body %}
<div class="bg">
    <ul>
        <li><a href="http://127.0.0.1:8000/profile_lawyer">View Profile</a></li>
        <li><a href="http://127.0.0.1:8000/logout">Logout</a></li>
        <!--<li class="right"><a href="http://127.0.0.1:8000/lawyer_signup/">See New/Previous cases</a></li>-->
        <li>
            <a href="http://127.0.0.1:8000/edit_profile_lawyer">Edit Profile</a>
        </li>
        <li><a href="http://127.0.0.1:8000/lawyer_case">View Cases</a></li>
    </ul>

    <h1><i>Home Page for Lawyer</i></h1>

</div>
{% endblock %}