{% extends 'base.html' %} {% load render_table from django_tables2 %}{% block head %}
<title>
    Login page</title>
<style>
    h1 {
        text-align: center;
        color: red;
        font-size: 50px;
    }
    
    P {
        text-align: center;
        color: white;
        font-size: 30px;
    }
    
    body,
    html {
        height: 100%;
        margin: 0;
    }
    
    .bg {
        /* The image used */
        background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/PPrUZre/golden-motion-background-with-light-effect_hqrfuyrgx_thumbnail-full01.png");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        width: 800px;
    }
    
    th,
    td {
        padding: 15px;
    }
    
    th {
        text-align: center;
        color: lightgoldenrodyellow;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: lightseagreen;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover:not(.active) {
        background-color: #111;
    }
    
    .right {
        float: right;
    }
</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %} {% block body %}

<div class="bg">
    <ul>
        <li class="right"><a href="http://127.0.0.1:8000/victim_home/">Back</a></li>
    </ul>
    <h1>List of registered Lawyers </h1>

    <!--    {% for lawyer in object_list %} <br>{{lawyer.username}} {{lawyer.email}} {{lawyer.phone}} {{lawyer.previous_cases}} {% endfor %} -->
    <p>You can select one of the lawyer from the list which you think is suitable for your case.</p>

    <table>
        <tr>
            <th>Username</th>
            <th>Email-id</th>
            <th>Phone no.</th>
            <th>Previous handled cases</th>
            <th>Fees</th>
        </tr>
        {% for lawyer in object_list %}
        <tr>
            <td>{{lawyer.username}}</td>
            <td>{{lawyer.email}}</td>
            <td>{{lawyer.phone}}</td>
            <td>{{lawyer.previous_cases}} </td>
            <td>{{lawyer.fees}}</td>
        </tr>
        {% endfor %}
    </table>

    <a href=" http://127.0.0.1:8000/lawyer/case_details/ " class="btn btn-primary btn-lg btn-space" role="button" style="text-align: center;margin-top:40px;">Enter case details</a> {% endblock %}
</div>