{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block body %}
<br><br><br>
<p>
    <div class="container">

        <!--  {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
         {% endif %} -->
        {% if messages %} {% for message in messages %}

        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">

            <strong> {{ message }}  </strong>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">

              <span aria-hidden="true">&times;</span>

              </button>

        </div>


        {% endfor %} {% endif %}





        <form method="POST">
            {% csrf_token %}

            <div class="jumbotron login-jumbotron container col-md-4">


                <div class="form-group">

                    <div class="row">

                        <div class="col-lg-1">

                        </div>

                        <div class="col-md-10">
                            <input type="text" class="form-control" name="username" placeholder="Enter Username">
                        </div>
                    </div>

                </div>

                <div class="row my-4">

                </div>


                <div class="form-group">

                    <div class="row">
                        <div class="col-lg-1">

                        </div>

                        <div class="col-md-10">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                    </div>


                </div>


                <div class="row my-4">

                </div>



                <div class="row">
                    <div class="container col-md-4">
                        <button type="submit" class="btn btn-primary submit_buttons">LOGIN</button>
                    </div>

                </div>



            </div>

        </form>






        {% endblock %}