{% extends 'base.html' %} {% block head %}
<title>Sign up page</title>
<style>
    h1 {
        text-align: center;
        font-size: 70px;
        color: palevioletred;
    }
    
    body,
    html {
        height: 100%;
        margin: 0;
    }
    
    .bg {
        /* The image used */
        background-image: url("https://wallpaperscraft.ru/image/siniy_goluboy_cvet_fon_more_stena_volna_72426_3840x2160.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock %} {% block body %}

<div class="bg">
    <h1>SIGN UP PAGE</h1>

    <div class="container">
        <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Sign up</button>
        </form>
    </div>

</div>
{% endblock %}