{% extends 'base.html' %}{% block head %}
<title>Sign up Page</title>
<style>
    h1 {
        text-align: center;
        color: red;
        font-size: 50px;
    }
    
    .try {
        margin-top: 50px;
        align-content: center;
        text-align: center;
    }
    
    body,
    html {
        height: 100%;
        margin: 0;
    }
    
    .bg {
        /* The image used */
        background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/PPrUZre/golden-motion-background-with-light-effect_hqrfuyrgx_thumbnail-full01.png");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %} {% block body %}

<br> {% if errors %}
<br><br><br><br> {% for error in errors %}

<p>{{ error }}</p>
<p>{{ erro }}</p>

{% endfor%} {% endif %}

<div class="bg">

    <h1>Hey,Welcome to the sign up page for victim</h1>
    <div class="try ">
        <form method="post">

            {% csrf_token %} {{ form.as_p }}

            <input type="submit" class="btn btn-lg submit_buttons" value="SignUp">

        </form>
    </div>
</div> {% endblock %}